@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Merriweather+Sans:wght@700&family=Noto+Sans:wght@300&family=PT+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    display: flex;
    overflow: auto;
}

body{
    background-color: #101010;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:7px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-thumb {
    background-color: #0BCC67;
    border-radius: 20px;
}