@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Merriweather+Sans:wght@700&family=Noto+Sans:wght@300&family=PT+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    display: flex;
    overflow: auto;
}

body{
    background-color: #101010;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:7px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-thumb {
    background-color: #0BCC67;
    border-radius: 20px;
}

#btn-menu span {
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

.close{
    height: 120px;
    position: sticky;
}

.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background-color: #ffffff;
  }
  
.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
.close span:nth-child(3) {
    display: none;
  }